@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font face - uncomment when font files are added to public/fonts/
@font-face {
  font-family: 'Elms Sans';
  src: url('/fonts/ElmsSans-Regular.woff2') format('woff2'),
       url('/fonts/ElmsSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-display: swap;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0F172A;
  background-color: #FFFFFF;
}

/* Apply system font to all elements */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

