@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Elms Sans';
  src: url('/fonts/ElmsSans-Regular.woff2') format('woff2'),
       url('/fonts/ElmsSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0F172A;
  background-color: #FFFFFF;
}

/* Apply Elms Sans to all elements */
* {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

